{% if widget.is_initial %}
<div class="my-profile-file-current">
    <span class="my-profile-file-current-label">Current image</span>
    <a href="{{ widget.value.url }}" target="_blank" rel="noopener">{{ widget.value }}</a>
    {% if not widget.required %}
        <label class="my-profile-file-clear" for="{{ widget.checkbox_id }}">
            <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}{% if widget.attrs.checked %} checked{% endif %}>
            <span>{{ widget.clear_checkbox_label }}</span>
        </label>
    {% endif %}
</div>
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
